{% extends "site_base.html" %}

{% load i18n %}
{% load ifsetting_tag %}
{% block extra_head %}
<style type="text/css" src="{{STATIC_URL}}css/forms.css"></style>
{% endblock %}

{% block head_title %}Create a new character{% endblock %}

{% block body_class %}home{% endblock %}

{% block body %}
    <h1>{{ heading }}</h1>
    <form action="create" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Go!"></input>
    </form>
    <p class="note">{{ form_note }}</p>
{% endblock %}
