<html>
<head>
    <script>
	$(function() {
		$( "#sortable" ).sortable();
		$( "#sortable" ).disableSelection();
	});
	</script>
    
</head>
<body>
    <div id="container" style="width:400px">
	<div style="float:left">
        <ul id="sortable">
            <li>one</li>
            <li>two</li>
            <li>three</li>
            <li>four</li>
            <li>five</li>
        </ul>
    </div>
    <div style="float:right">
        <ul>
            <li>one</li>
            <li>two</li>
            <li>three</li>
            <li>four</li>
            <li>five</li>
        </ul>
    </div>
    </div>
</body>
</html>